<div class="container">
	<p>
	  <strong>User:</strong>
	  <%= @pin.user.username %>
	</p>

	<p>
	  <strong>Content:</strong>
	  <%= @pin.content %>
	</p>
	<% if @pin.user == current_user %>
		<%= link_to 'Edit', edit_pin_path(@pin) %> |
		<%= link_to 'Back', pins_path %>
	<% end %>
</div>