<h1>About Me</h1>

<h2>I am a former healthcare architect that is adding web dev to my skill set.  I used to work at Aditazz, a startup near San Francisco and caught the coding bug there.  I've takin other One Month classes such as Ruby, HTML and Programming for Non-Programmers and plan to continue after this Rails class.</h2>

<h2>Find me on <a href="https://www.facebook.com/richard.sarao.9"  target="_blank"> Facebook</a> and <a href="https://www.linkedin.com/in/richard-sarao"  target="_blank"> LinkedIn</a></h2>

