 <% if user_signed_in? %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1>Welcome back!</h1>
        </div>
    </div>
<% else %>
    <div class="jumbotron jumbotron-home">
        <div class="container"><font color="white">
                <h1> Welcome to my website!</h1>
                <h4>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</h4>
                <%= link_to "Learn more »", "#", class: "btn btn-primary btn-lg" %> 
        </font></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>What I learned in my HTML Class</h2>
                <p>&ensp;What you will see at the link below is the final project I did during my One Month HTML class in Sept 2016. I started with no HTML experience and in 30 days had enough knowledge of HTML and CSS (another  language used alongside HTML) to produce several sites. With each project, we learned of various web resources the developers use daily. These free resources such as Bootstrap.com and stackoverflow.com make finding pre-written code and getting your questions answered easy. There are many in the developer comunity that share their knowledge freely and openly. <br>
                
                &ensp; HTML can be used alongside CSS and Javascript to give the content of your page some style and special effects. HTML provides the words and images shown on a site, CSS gives those elements some style, such as font and font size in the case of text or scale as in the case for images.  CSS also allows one to make a page layout changes as the browser window or device form factor changes..so a site looks good on a lap-top and a phone. <br>

                &ensp;Javascript can be be used to make elements move or behave in ways that make your site more compelling. We didn't learm much Javascript in this class but I'm told Javascript isn't that hard to learn.</p>    

                <p><%= link_to "Coming soon!", "#", class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
        </div>
    </div>
 <% end %>