

<h1>Welcome to my website made with rails 5!</h1>

<h2>Here is what I'm thinking about for my first app...</h2>

<h2>I want the user to log in, and then use a movie search page that I developed during my One Month Ruby class.</h2>  

<h2> I plan to expand this app to include all the other sites I've made withi my One Month HTML and turn it into a portfolio  that people can explore and leave comments about each page they visit if they so choose. </h2>


